.main-content{
    height: 80%;
    width: 80%;
    /* border: 1px solid; */
}
.main-function-button{
    height: 30%;
    border: 1px solid;
    
}
.funciton-button{
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
    width: 40%;
    height: 30%;
    border: 1px solid;
}   
.main-text{
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-atcg-button{
    height: 30%;
    border: 1px solid;
}
.atcg-button{
    background-color: white;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 4%;
    width: 20%;
    height: 30%;
}