.main-content{
    height: 80%;
    width: 80%;
    /* border: 1px solid; */
}
.main-function-button{
    height: 40%;
    border: 1px solid;
    
}
.funciton-button{
    background-color: white;
    width: 40%;
    height: 30%;
    border: 1px solid;
}   